version: "3.1"
  
services:
  mongo:
    image: mongo:bionic
    ports:
      - "27017:27017"
    volumes:
      - ${PWD}/mongorestore.sh:/docker-entrypoint-initdb.d/mongorestore.sh
      - ${PWD}/db-dump:/db-dump
