volumes:
  spark_events: {}
  elt_mongo_data:
    external: true

services:
  mongo:
    image: mongo:bionic
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - elt_mongo_data:/data/db
      - ${PWD}/openfoodfacts-mongodbdump.gz:/openfoodfacts-mongodbdump.gz

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ""
      ME_CONFIG_MONGODB_ADMINPASSWORD: ""
      ME_CONFIG_MONGODB_SERVER: mongo
  
  spark-master:
    image: ruizhizhong058/spark-master:3.5.1-hadoop3.3.6
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - INIT_DAEMON_STEP=setup_spark
    volumes:
      - ${PWD}/target/elt-0.0.1-SNAPSHOT-jar-with-dependencies.jar:/tmp/etl.jar
  
  spark-worker-1:
    image: ruizhizhong058/spark-worker:3.5.1-hadoop3.3.6
    container_name: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "8181:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
  
  spark-worker-2:
    image: ruizhizhong058/spark-worker:3.5.1-hadoop3.3.6
    container_name: spark-worker-2
    depends_on:
      - spark-master
    ports:
      - "8082:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
  
  spark-history-server:
      image: bde2020/spark-history-server:3.3.0-hadoop3.3
      container_name: spark-history-server
      depends_on:
        - spark-master
      ports:
        - "18081:18081"
      volumes:
        - spark_events:/tmp/spark-events